@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", monospace;
}

button:hover {
  filter: brightness(0.7);
}

button:active {
  filter: brightness(1.2);
}

.hero {
  @apply h-3/4-screen bg-dark text-white relative;
}

.rocket-man {
  animation: 10s hover infinite;
}

.input {
  @apply h-14 w-full bg-dark text-white border-b-2 border-white p-3;
}

.input-small {
  @apply h-10;
}

.label {
  @apply absolute top-7 left-2 -translate-y-1/2 bg-dark px-1 text-xl transition-all duration-300 ease-in-out text-grey;
}

.label-small {
  @apply top-4 text-base;
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
  @apply -translate-y-10 text-sm text-white;
}

.input-small:focus ~ .label-small,
.input-small:not(:placeholder-shown) ~ .label-small {
  @apply -translate-y-6 text-xs;
}

@keyframes hover {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(5px, 5px);
  }
  75% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
